/*Estilos*/

.container{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 4%;
}
.container img{
	max-width: 100px;
	padding: 4px;
}

#elementos{
	margin: 2px;
	padding: 2px;
	text-align: center;
}

.elemento{
	margin: 2px;
	border: 2px solid #c0c5ce;
	display: inline-block;
	text-align: center;
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
}
